<html>
    <head>
        <title>Pregunta</title>
         {% load static %} 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'css/jquery.min.js'%}"></script>
        <script src="{% static 'css/bootstrap.min.js'%}"></script>
    </head>
    <body>
        <form name="onlShpFrmLgn" method="POST">
        {% csrf_token %}
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                    
                    <legend>ASK QUESTION</legend>
                      <div class="form-group">
                        <div class="input-group input-group-lg">
                          <span class="input-group-addon" ><i class="glyphicon glyphicon-question-sign"></i></span>
                          {{frm.q_ques}}
                        </div>
                      </div>
                    
                    <div class="form-group">
                      <input type="submit" class="btn btn-primary btn-lg " value="Submit">
                      <input type="reset" class="btn btn-danger btn-lg " value="Reset" style="margin-left:10px;">
                    </div>
                    
                </div>
              </div>
            </div>
        </form>
    </body>
</html>